.shopContainer {
  display: grid;
  grid-template-columns: 4fr 1fr;
}

.orderSummary {
  margin-top: 13px;
  border-radius: 8px;
  background-color: #ff99004d;
}
.products {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 30px;
  padding: 20px 60px;
}
